<div class="modal-header d-flex justify-content-between">
  <h4 class="mb-0">{{editMode ? 'Edit' : 'Tambah'}} Benefit</h4>
  <button class="btn" (click)="closeModal()">
    <i class="fas fa-xmark"></i>
  </button>
</div>

<div class="modal-body d-flex flex-column align-items-center">
  <div class="border border-primary w-50 rounded-3 d-flex justify-content-center align-items-center p-3 mb-3" (click)="fileInput.click()" imgUpload (dropFiles)="handleDropImage($event)" style="border-style: dashed !important; height: 200px; cursor: pointer;">
    <div class="d-flex flex-column text-center" *ngIf="!imageUrl">
      <i class="fas fa-upload fs-1"></i>
      <span class="fs-4 mt-3">Upload Gambar</span>
    </div>
    <img class="w-100 object-fit-contain h-100" *ngIf="imageUrl" [src]="imageUrl" alt="empty image">
  </div>
  <div class="form-group w-100 mb-3">
    <label for="name">Nama</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="form.name">
  </div>
  <div class="form-group w-100 mb-3">
    <label for="description">Deskripsi</label>
    <textarea class="form-control" name="description" id="description" [(ngModel)]="form.description"></textarea>
  </div>
  <button class="btn btn-{{editMode ? 'warning' : 'success'}} w-100" (click)="submit()">{{loading ? 'Tunggu' : editMode ? 'Edit Data' : 'Tambah Data'}}</button>
</div>
<input #fileInput class="d-none" type="file" name="file" id="file" accept="image/*" (change)="handleImageInput($event)">
