<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/mamata.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/kapaas.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/creta.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/black.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/cotton-club.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/ashwini.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/red.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/mamata.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/kapaas.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/creta.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/black.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/cotton-club.png" height="100" width="250" alt="" />
		</div>
    <div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/ashwini.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="http://www.mamatafabrics.com/resources/img/product-logo/red.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>
