<nav class="navbar navbar-expand-md sticky-top bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="Bootstrap" width="126">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto gap-3 fw-semibold">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" fragment="why-we">Why WE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" fragment="program">Program & Biaya </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" fragment="testimoni">Testimoni</a>
        </li>
      </ul>

      <div class="d-flex gap-3">
        <button class="btn btn-outline-success" routerLink="/article">Blog</button>
        <a class="btn btn-success" href="https://api.whatsapp.com/send?phone=6282112333666&text=saya%20dapet%20info%20ini%20dari%20WE.Com,%20mau%20daftar%20program%20dong" target="_blank">Pendaftaran</a>
      </div>

    </div>

  </div>
</nav>
<router-outlet></router-outlet>
<div class="py-5 d-flex flex-column align-items-center justify-content-center" style="background-color: #CDFFD2;">
  <div class="d-flex gap-5">
    <a href="https://api.whatsapp.com/send?phone=6282112333666&text=saya%20dapet%20info%20ini%20dari%20WE.Com,%20mau%20daftar%20program%20dong" target="_blank">
      <img src="assets/images/icons/whatsapp.svg" width="32" alt="image" style="cursor: pointer;">
    </a>
    <a href="https://vt.tiktok.com/ZSjTtSV2Q/" target="_blank">
      <img src="assets/images/icons/tik-tok.svg" width="32" alt="image" style="cursor: pointer;">
    </a>
    <a href="https://www.instagram.com/kampunginggriswe?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
      <img src="assets/images/icons/instagram.svg" width="32" alt="image" style="cursor: pointer;">
    </a>
    <a href="http://www.youtube.com/@KampungInggrisWE" target="_blank">
      <img src="assets/images/icons/youtube.svg" width="32" alt="image" style="cursor: pointer;">
    </a>
  </div>
  <div class="d-flex gap-1 gap-2 gap-md-4 mt-4 flex-wrap justify-content-center">
    <b>About WE English</b>
      <b>FAQs</b>
      <b>Terms & Condition</b>
      <b>Privacy Policy</b>
  </div>
  <p class="text-secondary mt-3">© 2024 WE English All rights reserved</p>
</div>
