<div class="card" style="width: 20rem;">
  <!-- <img src="assets/images/paket-ramadhan.jpg" class="card-img-top" alt="image"><ngx-skeleton-loader [theme]="{width: '50px', margin: '0 10px'}"></ngx-skeleton-loader> -->
  <ngx-skeleton-loader [theme]="{width: '317px', height: '248px', margin: 0}"></ngx-skeleton-loader>
  <div class="card-body border-top border-bottom">
    <div class="d-flex justify-content-between">
      <b>
        <ngx-skeleton-loader [theme]="{width: '150px'}"></ngx-skeleton-loader>
      </b>
      <span>
        <ngx-skeleton-loader [theme]="{width: '50px', margin: '0 10px', padding: 0}"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{width: '20px', height: '20px', margin: '0', padding: 0}"></ngx-skeleton-loader>
      </span>
    </div>
    <div class="d-flex gap-3 mt-3">
      <span style="font-size: 14px;">
        <ngx-skeleton-loader [theme]="{width: '20px', height: '20px', margin: '0', padding: 0}"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{width: '50px', margin: '0 10px'}"></ngx-skeleton-loader>
      </span>
      <span style="font-size: 14px;">
        <ngx-skeleton-loader [theme]="{width: '20px', height: '20px', margin: '0', padding: 0}"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{width: '50px', margin: '0 10px'}"></ngx-skeleton-loader>
      </span>
    </div>
  </div>
  <div class="card-body">
    <ngx-skeleton-loader [theme]="{width: '100%', height: '49px', margin: 0}"></ngx-skeleton-loader>
  </div>
</div>
