<div class="row g-0 g-lg-3 vh-100 w-100">
  <div class="col-lg-7 d-flex align-items-center justify-content-center p-3 p-lg-5">
    <div class="d-flex flex-column w-100" [formGroup]="form">
      <img class="mb-3" src="assets/images/logo.png" alt="images" width="126">
      <h1 class="mb-0">Formulir Registrasi</h1>
      <small class="fw-bold">Online Class</small>

      <div class="form-group mt-3">
        <label class="fw-semibold mb-1" for="fullname">Nama Lengkap</label>
        <input type="text" id="fullname" class="form-control" [ngClass]="{'is-invalid': name?.invalid && (name?.dirty || name?.touched)}" placeholder="Masukkan Nama Lengkap"
          formControlName="name">
        <small class="text-danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">Nama wajib diisi</small>
      </div>

      <div class="form-group mt-3">
        <label class="fw-semibold mb-1" for="phone">Nomor Whatsapp</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text rounded-0" id="basic-addon1">+62</span>
          </div>
          <input type="number" class="form-control" [ngClass]="{'is-invalid': phone?.invalid && (phone?.dirty || phone?.touched)}" placeholder="8781234567" aria-label="phone"
            aria-describedby="basic-addon1" name="phone" id="phone" formControlName="phone">
        </div>
        <small class="text-danger" *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">Nomor telepon wajib
          diisi</small>
      </div>

      <div class="form-group mt-3">
        <label class="fw-semibold mb-1" for="program">Program</label>
        <ng-select labelForId="program" [ngClass]="{danger: program?.invalid && (program?.dirty || program?.touched)}" placeholder="-Pilih Program-" [items]="programData"
          bindLabel="name" bindValue="name" labelForId="program" formControlName="program"></ng-select>
        <small class="text-danger" *ngIf="program?.invalid && (program?.dirty || program?.touched)">Program wajib
          dipilih</small>
      </div>

      <div class="form-group mt-3">
        <label class="fw-semibold mb-1" for="information">Keterangan</label>
        <textarea name="information" id="information" class="form-control"
          formControlName="information" [ngClass]="{'is-invalid': information?.invalid && (information?.dirty || information?.touched)}"></textarea>
        <small class="text-danger"
          *ngIf="information?.invalid && (information?.dirty || information?.touched)">Keterangan wajib diisi</small>
      </div>

      <button class="btn btn-outline-light mt-3 border border-secondary text-dark rounded-0" (click)="submit()">Lanjutkan</button>

    </div>
  </div>
  <div class="col-lg-5 p-3">
    <div class="position-relative d-flex align-items-center w-100 h-100">
      <img class="h-100 w-100 object-fit-cover rounded-4 position-absolute"
        style="z-index: -10; filter: brightness(50%);" [src]="heroData.registration_image?.image_url| imageUrl" alt="img">
      <div class="p-3 text-white">
        <img src="assets/images/logo-white.png" alt="logo">
        <h4 class="mt-3">Kampung Inggris WE</h4>
        <p>Tempat Kursus di Kampung Inggris yang <b>FUN</b> & <b>KECE</b></p>
        <div class="d-flex align-items-center gap-3">
          <img width="100" src="assets/images/image-review.png" alt="image">
          <span class="bg-white" style="width: 1px; height: 30px;"></span>
          <p class="mb-0">Dinilai Terbaik dari <i class="fw-bold">200+</i> Reviews</p>
        </div>
      </div>
    </div>
  </div>
</div>
