@import "@ng-select/ng-select/themes/default.theme.css";
@import "assets/scss/fas.scss";

@font-face {
  font-family: Inter;
  src: url(assets/fonts/inter-font.ttf) format("truetype")
}

* {
  font-family: Inter;
}

.btn {
  border-radius: 2px;
}
