<div class="d-flex align-items-start gap-3">
  <button class="btn" (click)="back()">
    <i class="fas fa-arrow-left"></i>
  </button>
  <h2 class="mb-5">Product Detail</h2>
</div>
<div class="row">
  <div class="col-md-3">
    <img [src]="singleData.image_url | imageUrl" alt="image" class="w-100 h-100 object-fit-contain">
  </div>
  <div class="col-md-9">
    <h5>{{singleData.name}}</h5>
    <p>{{singleData.program_title}}</p>
    <small class="badge text-bg-{{singleData.type?.id === 1 ? 'primary' : 'success'}}">{{singleData.type?.name}}</small>
    <span class="d-flex gap-3 mt-3">
      <button class="btn btn-warning" (click)="editProduct()"><i class="fas fa-edit"></i></button>
      <button class="btn btn-danger" (click)="deleteData(singleData)"><i class="fas fa-trash-can"></i></button>
    </span>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header d-flex justify-content-between align-items-center bg-white py-3">
    <h4 class="mb-0">List Benefits</h4>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>icon</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        @if (!loading) {
        <tr *ngFor="let item of singleData.benefits; let i = index">
          <td>{{i+1}}</td>
          <td>
            <img [src]="item.icon_url | imageUrl" alt="icon" width="20" height="20">
          </td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
        </tr>
        } @else {
        <tr *ngFor="let item of [1,2,3,4]">
          <td *ngFor="let item of [1,2,3,4,5]">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
        </tr>
        }
        @if (!loading && !singleData.benefits?.length) {
        <tr>
          <td colspan="5" class="text-center">Tidak ada data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header d-flex justify-content-between align-items-center bg-white py-3">
    <h4 class="mb-0">List Programs</h4>
    <button class="btn btn-warning rounded-3" (click)="addProgram()">
      <i class="fas fa-square-plus"></i> Tambah data
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nama</th>
          <th *ngIf="singleData.type?.id === 1">Total Siswa</th>
          <th *ngIf="singleData.type?.id === 2">Total Waktu</th>
          <th *ngIf="singleData.type?.id === 2">Review</th>
          <th>Harga</th>
          <th>Diskon</th>
          <th>%</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @if (!programLoading) {
        <tr *ngFor="let item of programData; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td *ngIf="singleData.type?.id === 1">{{item.total_student}}</td>
          <td *ngIf="singleData.type?.id === 2">{{item.total_minute}}</td>
          <td *ngIf="singleData.type?.id === 2">{{item.review}}</td>
          <td>{{item.price}}</td>
          <td>{{item.discount_price}}</td>
          <td>{{item.discount_percentage}}</td>
          <td>
            <span class="d-flex gap-3">
              <button class="btn btn-warning" (click)="editProgram(item)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteProgram(item)">
                <i class="fas fa-trash-can"></i>
              </button>
            </span>
          </td>
        </tr>
        } @else {
        <tr *ngFor="let item of [1,2,3,4]">
          <td *ngFor="let item of [1,2,3,4,5,6,7,8]">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
        </tr>
        }
        @if (!programLoading && !programData.length) {
        <tr>
          <td colspan="8" class="text-center">Tidak ada data</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
